
<div data-role="header">
	<h1>Keyhole Software</h1>
	<a href="#main" data-transition="slide" data-role="button" data-theme="d" data-icon="arrow-l" >Back</a>
</div><!-- /header -->

<div data-role="content">	
		
		 <H1>Backbone MVC Mobile Demo Application</H1>
		 <p>
		  <label>Build by <a href="www.keyholesoftware.com">Keyhole Software</a></label>
		 <p>
		 <label>Uses <b>khsSherpa</b> open source Java/JSON Remote Endpoint Framework</label>
		 <p>
		 <label>Check it out at...&nbsp;</label>
		 <a href="https://github.com/in-the-keyhole/khs-sherpa">khsSherpa GitHub Project</a>
		 <p>
		 <label>This demo application can be found at...</label>
		  <a href="https://github.com/in-the-keyhole/khs-sherpa-jquery">JQuery Mobile Demo GitHub Project</a>
		 
		
	</div><!-- /content -->