
<div data-role="header" data-poistion="fixed">
	<h1>Keyhole Software</h1>
</div><!-- /header -->

<div id="stockListContainer" data-role='content'>
	<ul data-role="listview" id='tcStockList' data-inset="true" data-filter="true"></ul>
</div>


<div data-role="footer"   data-position="fixed">
	<a href="#dlg" id="add" data-role="button" data-rel="dialog" data-theme="b" data-icon="plus">Add</a>
	<a href="" id="refresh" data-role="button" data-theme="b" data-icon="refresh">Refresh</a>
	<a href="#about" id="about" data-role="button" data-theme="b" data-icon="info">About</a>
</div> <!-- /footer -->
	